<body>
  <hr>
  <div class="project-content">
    <p-header>
      Projects
    </p-header>
    <p-footer>
      <h3>These are the following projects that i've experienced throughout my college years...</h3>
      <div class="container">
        <div class="box1">
          <h1>1. Project Guardian</h1>
          <a href="https://github.com/ProjectGuardian/Guardian-Test.git"> <img
              src="https://i.ibb.co/bmDWY50/GUARDIANS.jpg" alt="GUARDIANS" title="Click here to check it out!"></a>
          <p>An amazing platform created by future developers wherein you can post, share, express your opinions that is
            on par with other social media platforms. </p>
        </div>
        <div class="box2">
          <h1>2. Movieblog</h1>
          <a href="https://dustin1818.github.io/angular-webblog/"><img
            src="https://i.ibb.co/0MCZ6JG/movie-blog.png" alt="movie-blog" title="Click here to check it out!"></a>
          <p>Just a random movie blog that has a very plain ui design. </p>
        </div>
        <div class="box3">
          <h1>3. Photoblog</h1>
          <a href="https://dustin1818.github.io/web-page-blog/"><img src="https://i.ibb.co/WKP6YC9/photoblog.png" alt="phto-blog" title="Click here to check it out!"></a>
          <p>Just a random photo blog that has a very cute ui design. </p>
        </div>
      
      </div>
    </p-footer>
  </div>
</body>