
    <div class="skills-content">
        <p-header>
          Skills
        </p-header>
          
        <p-footer>
          <h3>These are the following skills that i've learned upon my college years...</h3>
          <div class="container">
            <div class="box1">
              <p>Java</p>
            </div>
            <div class="box2">
              <p>HTML</p>
            </div>
            <div class="box3">
              <p>CSS</p>
            </div>
            <div class="box4">
              <p>Javascript</p>
            </div>
            <div class="box5">
              <p>Bootstrap</p>
            </div>
            <div class="box6">
              <p>Angular</p>
            </div>
            <div class="box7">
              <p>PrimeNG</p>
            </div>
    
          </div>
            
        </p-footer>
      </div>

  

