

h3{
  font-weight: 10;
}



  .skills-content{
    margin-left: 400px;
    text-align: justify;
    
  }
  
  div p-card.p-component{
    border-radius: 30px;
    

  }
  
  p-header{
    font-size: 50px;
    font-weight:800;
    text-decoration: underline solid #BADA55;
    margin-bottom: 100px;
    text-underline-position: right;
    animation: moveheaders ease-in 3s;   
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;

  }

  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    font-weight: 800;
    font-size: 40px;
    margin-left: -20px;
  }

    .box1{
      border: #BADA55 solid;
      padding: 40px 60px 40px 60px;
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;
    }



    .box2{
      border: #BADA55 solid;
      padding: 39px 8px;
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;
    }

    .box3{
      border: #BADA55 solid;
      padding: 40px 60px 40px 60px; 
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;

    }
    .box4{
      border: #BADA55 solid;
      padding: 40px 60px 40px 60px;
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;
    }



    .box5{
      border: #BADA55 solid;
      padding: 40px 60px 40px 60px;
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;
    }

    .box6{
      border: #BADA55 solid;
      padding: 40px 60px 40px 60px; 
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;

    }
    .box7{
      border: #BADA55 solid;
      padding: 40px 60px 40px 60px; 
      box-shadow: 10px 5px 5px rgb(173, 166, 166);
      animation: moveboxes 5s ease-in;
      animation-fill-mode: forwards;

    }
     /* for hover boxes */
      .box1:hover{ 
         background: url("https://i.ibb.co/mDbV8f9/0e99853b0962481e2dfacdcf17bc99b9.png" ) center no-repeat; 
         background-color: rgba(0,0,0,0.5); 
         display: block;
        z-index: 2;
        opacity: 2;
         width: fit-content; 
         height: fit-content;
         transition: ease-in 1s;
      }  

      .box2:hover{
        background: url("https://i.ibb.co/yYM8rP6/HTML5-2.png") center no-repeat; 
        background-color: rgba(0,0,0,0.5); 
        display: block;
       z-index: 2;
       opacity: 2;
        width: fit-content; 
        height: fit-content;
        transition: ease-in 1s;
      }

      .box3:hover{
        background: url("https://i.ibb.co/mtGZp95/css.png") center no-repeat; 
        background-color: rgba(0,0,0,0.5); 
        display: block;
       z-index: 2;
       opacity: 2;
        width: fit-content; 
        height: fit-content;
        transition: ease-in 1s;
      }
      .box4:hover{
        background: url("https://i.ibb.co/DLnPwG8/javascript-logo.png") center no-repeat; 
        background-color: rgba(0,0,0,0.5); 
        display: block;
       z-index: 2;
       opacity: 2;
        width: fit-content; 
        height: fit-content;
        transition: ease-in 1s;
      }
      .box5:hover{
        background: url("https://i.ibb.co/KKgPmD7/R8b8ece6a20441242711a041acd01ba85.png") center no-repeat; 
        background-color: rgba(0,0,0,0.5); 
        display: block;
       z-index: 2;
       opacity: 2;
        width: fit-content; 
        height: fit-content;
        transition: ease-in 1s;
      }
      .box6:hover{
        background: url("https://i.ibb.co/MMwfvHk/Angular-JS-In-Hindi.png") center no-repeat; 
        background-color: rgba(0,0,0,0.5); 
        display: block;
       z-index: 2;
       opacity: 2;
        width: fit-content; 
        height: fit-content;
        transition: ease-in 1s;
      }
      .box7:hover{
        background: url("https://i.ibb.co/FxBCV0T/primeNG.png") center no-repeat; 
        background-color: rgba(0,0,0,0.5); 
        display: block;
       z-index: 2;
       opacity: 2;
        width: fit-content; 
        height: fit-content;
        transition: ease-in 1s;
      }


      

    @keyframes moveboxes{
      from {margin-top: 100px;}
      to{margin-bottom:100px;}
    }



    @media screen and (max-width:400px){

      hr{
        position: relative;
        top: 233px;
      }


      .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 17px;
        font-weight: 800;
        font-size: 37px;
        position: relative;
        right: -58px;
      }



      .box1{
        border: #BADA55 solid;
        padding: 36px 18px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        text-align: center;
        height: 4em;
      }

      .box2{
        border: #BADA55 solid;
        /* padding: 10px 83px; */
        padding: 36px 0px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        height: 4em;
      }

      .box3{
        border: #BADA55 solid;
        padding: 38px 0px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        height: 4em;      }

      .box4{
        border: #BADA55 solid;
        padding: 41px 0px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        height: 4em;
         text-align: center;
      }

      .box5{
        border: #BADA55 solid;
        padding: 37px 0px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        height: 4em;
      }

      .box6{
        border: #BADA55 solid;
        padding: 36px 0px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        height: 4em;
      }

      .box7{
        border: #BADA55 solid;
        padding: 36px 0px;
        box-shadow: 10px 5px 5px rgb(173 166 166);
        animation: moveboxes 5s ease-in;
        animation-fill-mode: forwards;
        width: 182px;
        height: 4em;
      }

      .skills-content{
        position: relative;
        top: 206px;
        margin-left: 53px;
        left: 95px;
        text-align: center;
        
      }


      p-header{
        font-size: 36px;
        position: relative;
        right: 30px;
        top: 18px;
    
      }

      h3{
        font-weight: 100;
        font-size: 17px;
        text-align: center;
        padding: 28px;
        margin: 14px;
        margin-right: 75px;
      }

      

     
    }
  


    @media screen and (max-width: 320px){


        hr{
          top: 224px;
        }

        p-header{
          font-size: 33px;
          position: relative;
          right: 45px;
          top: 30px;
        }

        h3{
          font-weight: 100;
          font-size: 17px;
          text-align: center;
          padding: 0px;
          margin: 46px 104px 14px 14px;
        }

        .container{
          padding: 17px;
          font-weight: 800;
          font-size: 24px;
           right: -24px;
      }

        .box1{
          width: 133px;
          padding: 26px 18px;

        }
        .box2{
          width: 133px;
        }
        .box3{
          width: 133px;
        }
        .box4{
          width: 133px;
        }
        .box5{
          width: 133px;
        }
        .box6{
          width: 133px;
        }
        .box7{
          width: 133px;
        }



    }
