
<p-menubar class= "p-menubar  p-menubarsub " [model]="items">
    <div>
        <input class="p-menubarsub" type="text" pInputText placeholder="Search">

    </div>
</p-menubar>


<body>


  <div class="about-content1">
  <p-card>
    <p-header>
      About Me
    </p-header>
    <p>My name is Dustin Clyde C. Amoda. I am a 3rd year (IT) College Student. My Goal is to study computer Major Courses and to become a respected professional in one of the fields. I like to explore and experience different aspects of technology. I am a very enthusiastic student and I think this is a strong point of mine.</p>
    <p-footer>
        
    </p-footer>
</p-card>
  </div>

 
  

    
  </body>