
<div class="link-bar">

  <div class="structure">

    <ul class="container-nav">

      <li > <a routerLink = "about-page">About Me</a></li>
      <li><a routerLink = "skills-section">Skills</a></li>
      <li><a href="#">Projects</a></li>
      <li><a routerLink= "contact-section">Contact</a></li>


    </ul>

  </div>

</div>

<body>

<!-- 
  <div class="about-content1">
    <p-card>
      <p-header>
        About Me
      </p-header>
      <p>My name is Dustin Clyde C. Amoda. I am a 3rd year (IT) College Student. My Goal is to study computer Major
        Courses and to become a respected professional in one of the fields. I like to explore and experience different
        aspects of technology. I am a very enthusiastic student and I think this is a strong point of mine.</p>
      <p-footer>
        <h3>Passionate About</h3>
        <div class="container">
  
          <div class="box1">
            <img src= "..\..\assets\tenor.gif">
      </div>

          <div class="box2">
            <img src= "..\..\assets\3.-using-computer-intensively-gif.gif">
          </div>

          <div class="box3">
            <img src= "..\..\assets\giphy-downsized-large.gif">
          </div>

          <div class="box4">
            <img src= "..\..\assets\Webe-watching-tv-anime-THG.gif">            
          </div>  

        </div>

      </p-footer>
    </p-card>
  </div> -->

  <div class="about-content">

      <h1>About Me</h1>
      <!-- <p>My name is Dustin Clyde C. Amoda. I am a 3rd year (IT) College Student. My Goal is to study computer Major
        Courses and to become a respected professional in one of the fields. I like to explore and experience different
        aspects of technology. I am a very enthusiastic student and I think this is a strong point of mine.</p> -->


        <div class="about-second-content">
          <div class="container">
    
            <div class="box1">
              <img src= "..\..\assets\tenor.gif">
        </div>
  
            <div class="box2">
              <img src= "..\..\assets\3.-using-computer-intensively-gif.gif">
            </div>
  
            <div class="box3">
              <img src= "..\..\assets\giphy-downsized-large.gif">
            </div>
  
            <div class="box4">
              <img src= "..\..\assets\Webe-watching-tv-anime-THG.gif">            
            </div>  
  
          </div>

        </div>

        <div class="about-third-section">
        <p>My name is Dustin Clyde C. Amoda. I am a 3rd year (IT) College Student. My Goal is to study computer Major
        Courses and to become a respected professional in one of the fields. I like to explore and experience different
        aspects of technology. I am a very enthusiastic student and I think this is a strong point of mine.</p>
      </div>
  </div>


</body>

<router-outlet></router-outlet>