
.p-menubarsub{
    margin-left:280px;
}

pInputText {
  margin-right: 40px;
}


p{
  font-size: 20px;
   font-weight: 350;


  color: #000000;
   padding: 10px;
   letter-spacing: 0;

}


body, html{
  width:100%;
  height:100%;
  margin:0;
  display: table;
  text-align: center;
}

.about-content1{
  margin-left: 340px;
  text-align: justify;
  
}



div p-card.p-component{
  border-radius: 30px;
}


p-header{
  font-size: 50px;
  font-weight:800;
  text-decoration: underline solid #BADA55;
  text-underline-position: right;
  animation: moveheader ease-in 3s  ;   
  /* animation-direction: alternate; */
  animation-fill-mode: forwards;


}


@keyframes moveheader{
  from {margin-left: 0px;}
  to{margin-left: 250px;}
}

@-webkit-keyframes moveheader{
  from {margin-left: 0px;}
  to{margin-left: 200px;}
}



.about-content h3{
    margin-left: 400px;
    animation-name: move-header;
    animation-timing-function: ease-in;
    animation: move-header 5s infinite;
  
}


@keyframes move-header{
  from {left: 0px;}
  to{left: 300px;}
}


