
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.p-menubarsub{
    
    margin-left: 313px;

    background-color: #1fffa8;


} 




.about-content{
     left: 0;
     width: 72%;
     float: right;
}

h1{
  text-align: left;
  font-size: 3em;
  font-weight: 800;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 8px;
  padding-top: 10px;
  padding-left: 44px;
  text-decoration: underline #bada55;

}





p{
  margin: 20px;
  text-align: justify;
  padding: 20px;
}


img{
  width: 172px;
  height: 151px;
  margin: 15px;
  border: #1fffa8 solid 10px;
  padding: 5px;


}

/* @keyframes moveheader{
  from {margin-left: 0px;}
  to{margin-left: 250px;}
}

@-webkit-keyframes moveheader{
  from {margin-left: 0px;}
  to{margin-left: 200px;}
}



.about-content1 h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:40px;
   font-weight: 900;
   margin:20px;
   text-decoration: underline solid #BADA55;
   animation: moveheader ease-in 3s  ;   
  /* animation-direction: alternate; */

.container{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px;
    animation: moveboxex 5s ease-in;
    animation-fill-mode: forwards;
    padding: 50px;
    padding-top: 18px;
}


.about-third-section p{
  margin: 20px;
  text-align: justify;
  padding: 12px 67px;
  margin-top: -73px;
  font-size: 19px;
}




 /* @keyframes moveboxex{
  from {margin-top: 230px;}
  to{margin-bottom:30px;}
} */



@media screen and (max-width:400px){

  .p-card {
    background: #fff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
    position: absolute;
    left: 0;
    padding: 0px;
    margin: 40px;
}

.p-card .p-card-content {
  padding: 1rem 0;
  position: relative;
  left: 73px;
}



    
.p-menubarsub{
  margin-left: 130px;
  padding: 0px;
} 

.p-menubarsubs{
  width: 100%;
}


p-header{
  font-size: 34px;
  font-weight: 800;
  -webkit-text-decoration: underline solid #BADA55;
  text-decoration: underline solid #BADA55;
  text-underline-position: right;
  animation: moveheader ease-in 3s;
  animation-fill-mode: forwards;
  position: relative;
  left: -78px;
  top: 41px;

}


p{
  font-size: 15px;
  font-weight: 350;
  color: #000000;
  padding: 10px;
  letter-spacing: 0;
  text-align: center;
  margin: 68px;
  margin-right: 101px;
  margin-top: 45px;
  padding: 0px;
  word-spacing: 0px;

}


h3{
  position: relative;
  right: 93px;
  bottom: 27px;
  font-weight: 800;
  text-align: center;
  /* padding: 0px; */
  letter-spacing: 0px;
}

.about-content1 h3{
  font-size: 30px;
}


.container{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin:10px;
  animation: moveboxex 5s ease-in;
  animation-fill-mode: forwards;
}

img{
  width: 169px;
  height: 122px;
  margin: 0 auto;
  /* margin-bottom: 230px; */
  border: #1fffa8 solid 10px;
  position: relative;
  left: 124px;
  bottom: 12px;

}

}


@media screen and (max-width:320px){
  .about-content1{
    margin-left: 0px;
    text-align: center;
  }

  p-header{
    font-size: 27px;
    position: relative;
    left: -113px;
    top: 41px;
  }


  p{
    font-size: 14px;
    font-weight: 350;
    color: #000;
    padding: 10px;
    margin: 18px;
    margin-left: 133px;
    margin-right: 111px;
}


  .container{
    position: relative;
    right: 107px;
}
  img{
    width: 149px;
    height: 116px;
  }

/* .about-content1 h3  - try this{
    position: relative;
    right: 100px;
  }
 */

   h3{
    position: relative;
    right: 100px;
  }



  }



