


<body>

      <div id="layout" class="pure-g">
        <div class="sidebar">
            <hr>

            <h1 class="nav-title"><span> Web</span> Portfolio 2021</h1>

            <div class="nav-list">
                <ul class="fix-list">
                   <a href="https://github.com/dustin1818"><li class="pi pi-github"> Github </li></a> 
                   <a href="https://www.facebook.com/dustin.amoda"> <li class=" pi pi-facebook"> Facebook</li></a>
                   <a href="https:/dustinamoda18@gmail.com"><li class=" pi pi-google"> Google</li></a>
            
                </ul>
            </div>

        </div>
    </div>
      
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

</body>