body{
  padding: 0;
}

#layout{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar{
  height: 120vh;
  width:55%;
  display: flex;
  background-color: #042515;
  flex-direction: column;
  padding: 10px;
}

.sidebar-pic{
  display: flex;
  height: 50%;  
  width: 100%;
  border: solid 10px #cfebe6;
  object-fit: cover;
  padding: 0px;
}

.nav-title{ 
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #fffbfb;
  font-variant: small-caps;
  letter-spacing: 8px;
  line-height: 50px;
}

.fix-list{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding:0

}

.pi{
  display: flex;
  font-size: 2em;
  padding: 10px;
  margin: auto;
  align-items: center;
  word-spacing: 10px;


}
a{
color: #6edaa3;
    text-decoration: none;
    background-color: transparent;
}


@media only screen and ( max-width:335px){
    .sidebar{
      display: flex;
      width: 27%;
    }

    .nav-title{
      text-align: center;
      flex-direction: column;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 40px;
      justify-content: center;
      font-family: sans-serif;
      font-style: italic;
      font-weight: 900;
      color: #fffbfb;
      font-variant: small-caps;
      margin: 20px;
      padding: 22px;
      letter-spacing: 1px;
      line-height: 50px;
     
  }

  #layout{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }

}

  


    

