body{
    margin-left: 18em;    
}


.contact-content{
    margin-left: 100px;
    text-align: justify;
    
  }

  p-header{
    font-size: 50px;
    font-weight:800;
    text-decoration: underline solid #BADA55;
    margin-bottom: 100px;
    text-underline-offset: 0.2em;
    animation: moveheaders ease-in 3s;   
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;

  }
  .p-inputtext {
    margin: 0;
    width: 500px;
    height: auto;
    
}

.p-float-label {
    display: block;
    margin-top: 40px;
    position: relative;
}

  input{
    margin-top: 20px;
    width: 800px;
    height: 30px;
    font-weight: 10;
    font-size: 20px;
    word-spacing: 2px;
    padding: 20px;
}

    textarea{
        margin-top: 30px;
        width: 800px;
        height: 300px;
        font-weight: 10;
        font-size: 20px;
        word-spacing: 2px;
        padding: 20px;

    }

    p-button{
        margin-left: 350px;
    }
    p-button label {
        padding: 10px;
    }

    @media screen and (max-width:400px){
        
        hr{
        position: relative;
        top: 689px;
        right: 117px;
        width: 230px;
        }

        .contact-content{
            margin-left: 0px;
            text-align: justify;
            position: relative;
            top: 693px;
            right: 109px;        
        }

        p-header{
            position: relative;
            top: 20px;
            float: ce;
            font-size: 35px;
            left: 30px;
            text-align: center;

        }

        textarea{
            margin-top: 19px;
            width: 200px;
            height: 162px;
            font-weight: 10;
            font-size: 15px;
            word-spacing: 2px;
            padding: 10px;
        }

        input{
            margin-top: 47px;
            width: 204px;
            height: 20px;
            font-weight: 10;
            font-size: 20px;
            word-spacing: 2px;
            padding: 20px;
        }


        p-button{
            margin-left: 50px;
            position: relative;
            top: 10px;
        }


    }

  


