
    <div class="link-bar">

        <div class="structure">
      
          <ul class="container-nav">
      
            <li class="container-li" > <a routerLink = "/about-page">About Me</a></li>
            <li class="container-li"><a routerLink = "/skills-section">Skills</a></li>
            <li class="container-li"> <a routerLink="/project-section">Projects</a></li>
            <li class="container-li"><a routerLink= "/contact-section">Contact</a></li>
      
      
          </ul>
      
        </div>
      
      </div>